.header{
    color: black;
    background-color:rosybrown;
    height: 100px;
    width: 100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
    border: 1px solid yellow;  
}
.header>img{
   margin-left:20px;
}
 .nav>li{
    list-style: none;
    display:inline-block;
    padding: 8px,12px;
    position: relative;
   justify-content: space-between;  
 }
   .nav{
    /* border: 1px solid red; */
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
 }
 *{
     padding:0px;
     margin:0px;
 }
   

 
